<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test-Suite" parallel="tests" configfailurepolicy="continue" thread-count="4">

    <parameter name="browser" value="chrome"/>
    <parameter name="baseUrl" value="https://www.livescore.com/en/"/>
    <parameter name="apiUrl" value="hhttps://www.livescore.com/en/api"/>
    <parameter name="userName" value="vaggelis"/>
    <parameter name="password" value="vaggelis"/>
    <parameter name="parallelSetup" value="tests"/>
    <parameter name="threadsNumber" value="4"/>
    <parameter name="gridUrl" value=""/>

    <test name="goto" preserve-order="true" group-by-instances="true">
        <classes>
            <class name="com.vmaurop.Example"/>
        </classes>
    </test>

</suite>